spring:
  datasource:
    url: jdbc:mariadb://127.0.0.1:43306/my_portfolio
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: 1234

  jpa:
    generate-ddl: true
    hibernate:
        ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: rlaseghks@gmail.com
    password: xsqhwslsyxsyveqk
    properties:
      mail:
        smtp:
          starttls:
            enable: true
#    defer-datasource-initialization: true

#  sql:
#    init:
#      mode: always

server:
  port: 1234
