<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title> result of register</title>
</head>

<body>

    <div th:if= "${isRegisterSuccessFull eq true}">
        <h1> 회원가입에 성공했습니다. </h1><br>
        <h2> 등록한 이메일로 발송된 인증 링크를 통해 회원 인증을 시도해 주세요</h2>
        <h2> 회원 인증 이후 모든 서비스를 체험할수 있습니다 </h2>
        <a href="/"> 첫페이지로 돌아가기 </a>
    </div>

    <div th:if="${isRegisterSuccessFull eq false}">
        <h1> 실패 </h1>
        <a href="register"> 회원가입 다시시도하기 </a>
    </div>
</body>